# Import Libraries

In [348]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 
# Read Data

In [349]:
df = pd.read_excel('games-regression-dataset.xlsx')

In [350]:
df.head()

,URL,ID,Name,Subtitle,Icon URL,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date,Average User Rating
0,https://apps.apple.com/us/app/heir-of-light/id...,1264483706,HEIR OF LIGHT,Dark Fantasy RPG,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,982,0.00,"29.99, 19.99, 9.99, 29.99, 29.99, 8.99, 4.99, ...","A Dark Fantasy, Collectible RPG\n\nDarkness ha...",GAMEVIL Inc.,12+,"EN, FR, DE, JA, KO, ZH, ES, TH, ZH, VI",894489600,Games,"Games, Role Playing, Strategy",2018-06-03 00:00:00,31/07/2019,4.0
1,https://apps.apple.com/us/app/endgame-eurasia/...,607705356,Endgame:Eurasia,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,19,0.00,NaN,"""This interactive experience is an exploration...",Auroch Digital Ltd,12+,EN,116407296,Games,"Games, Simulation, Strategy, News",21/03/2013,28/06/2017,3.5
2,https://apps.apple.com/us/app/free-solitaire/i...,627491527,Free Solitaire+,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,14,0.00,NaN,Same Solitaire game with classic Solitaire run...,Chen Zhong Yuan,4+,"EN, ZH",50647040,Games,"Games, Strategy, Entertainment, Card",2013-04-04 00:00:00,21/04/2015,4.5
3,https://apps.apple.com/us/app/draft-trainer/id...,430252596,Draft Trainer,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,88,1.99,NaN,** Discounted for a limited time **\n\nEver wo...,"GG Wizards, LLC",9+,EN,28120064,Games,"Games, Utilities, Card, Strategy",26/05/2011,23/07/2019,3.5
4,https://apps.apple.com/us/app/rogue-knight-inf...,1115082819,Rogue Knight: Infested Lands,Tactical roguelike w/ stealth,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,13,3.99,NaN,Fight or sneak your way through hordes of mons...,Luis Regueira,12+,EN,39915520,Games,"Games, Role Playing, Strategy",19/05/2017,2019-06-02 00:00:00,4.5

In [351]:
df.shape

(5214, 18)

# 
# Preprocessing Pipeline
- **`1. Analysis Columns Data Type`**
- **`2. Columns Nulls`**
- **`3. Rows Nulls`**
- **`4. Duplicates`**
- **`5. Outlires Detection & Removal`**

## 
### `1. Analysis Columns Data Type`

In [352]:
df.dtypes

URL                              object
ID                                int64
Name                             object
Subtitle                         object
Icon URL                         object
User Rating Count                 int64
Price                           float64
In-app Purchases                 object
Description                      object
Developer                        object
Age Rating                       object
Languages                        object
Size                              int64
Primary Genre                    object
Genres                           object
Original Release Date            object
Current Version Release Date     object
Average User Rating             float64
dtype: object

> <br> 
> 
> **Age Rating**
> - Remove + sign 
> - Convert to int
> - Notice that the column has only 4 ages so we can categorize them

In [353]:
df['Age Rating'] = df['Age Rating'].str.replace('+', '', regex=False)

In [354]:
print(df['Age Rating'].dtype)

object

In [355]:
df['Age Rating'] = df['Age Rating'].astype(int)

In [356]:
print(df['Age Rating'].dtype)

int64

In [357]:
df['Age Rating'].unique()

array([12,  4,  9, 17])

In [358]:
# Create a dictionary to map the age ratings to integers
age_rating_map = {4: 1, 9: 2, 12: 3, 17: 4}

In [359]:
# Replace the age rating column with its corresponding integer value
df['Age Rating'] = df['Age Rating'].replace(age_rating_map)

In [360]:
df['Age Rating'].head()

0    3
1    3
2    1
3    2
4    3
Name: Age Rating, dtype: int64

In [361]:
df['Age Rating'].dtype

dtype('int64')

> <br>
> 
> **Languages**

In [362]:
df['Languages'].head()

0    EN, FR, DE, JA, KO, ZH, ES, TH, ZH, VI
1                                        EN
2                                    EN, ZH
3                                        EN
4                                        EN
Name: Languages, dtype: object

In [363]:
print(df['Languages'].dtype)

object

In [364]:
all_languages = list(set(','.join(df['Languages'].fillna('').unique()).split(',')))

In [365]:
len(all_languages)

130

> <br>
> 
> **Genre**

> ## 
> **Dates**
> - Convert to date time data type

In [366]:
df['Original Release Date'] = pd.to_datetime(df['Original Release Date'])
print(df['Original Release Date'].dtype)

datetime64[ns]

<ipython-input-366-a485047d5374>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Original Release Date'] = pd.to_datetime(df['Original Release Date'])

In [367]:
df['Current Version Release Date'] = pd.to_datetime(df['Current Version Release Date'])
print(df['Current Version Release Date'].dtype)

datetime64[ns]

<ipython-input-367-4ddc8edb4d6a>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Current Version Release Date'] = pd.to_datetime(df['Current Version Release Date'])

In [368]:
df['Original Release Date'].head()

0   2018-06-03
1   2013-03-21
2   2013-04-04
3   2011-05-26
4   2017-05-19
Name: Original Release Date, dtype: datetime64[ns]

## 
### `2. Columns Nulls`

In [369]:
# print count of nulls for each column and percentage of them
missing_data = pd.DataFrame({'total_missing': df.isnull().sum(), 'perc_missing': (df.isnull().mean())*100})
missing_data

                              total_missing  perc_missing
URL                                       0      0.000000
ID                                        0      0.000000
Name                                      0      0.000000
Subtitle                               3749     71.902570
Icon URL                                  0      0.000000
User Rating Count                         0      0.000000
Price                                     0      0.000000
In-app Purchases                       2039     39.106252
Description                               5      0.095896
Developer                                 0      0.000000
Age Rating                                0      0.000000
Languages                                11      0.210970
Size                                      0      0.000000
Primary Genre                             0      0.000000
Genres                                    0      0.000000
Original Release Date                     0      0.000000
Current Version Release Date              0      0.000000
Average User Rating                       0      0.000000

In [370]:
df.drop(columns=['Subtitle'], inplace=True)

In [371]:
# print count of nulls for each column and percentage of them
missing_data = pd.DataFrame({'total_missing': df.isnull().sum(), 'perc_missing': (df.isnull().mean())*100})
missing_data

                              total_missing  perc_missing
URL                                       0      0.000000
ID                                        0      0.000000
Name                                      0      0.000000
Icon URL                                  0      0.000000
User Rating Count                         0      0.000000
Price                                     0      0.000000
In-app Purchases                       2039     39.106252
Description                               5      0.095896
Developer                                 0      0.000000
Age Rating                                0      0.000000
Languages                                11      0.210970
Size                                      0      0.000000
Primary Genre                             0      0.000000
Genres                                    0      0.000000
Original Release Date                     0      0.000000
Current Version Release Date              0      0.000000
Average User Rating                       0      0.000000

In [375]:
# print count of nulls for each column and percentage of them
missing_data = pd.DataFrame({'total_missing': df.isnull().sum(), 'perc_missing': (df.isnull().mean())*100})
missing_data

                              total_missing  perc_missing
URL                                       0      0.000000
ID                                        0      0.000000
Name                                      0      0.000000
Icon URL                                  0      0.000000
User Rating Count                         0      0.000000
Price                                     0      0.000000
In-app Purchases                          0      0.000000
Description                               5      0.095896
Developer                                 0      0.000000
Age Rating                                0      0.000000
Languages                                11      0.210970
Size                                      0      0.000000
Primary Genre                             0      0.000000
Genres                                    0      0.000000
Original Release Date                     0      0.000000
Current Version Release Date              0      0.000000
Average User Rating                       0      0.000000

<br>

### `3. Rows Nulls`

In [376]:
df.shape

(5214, 17)

In [377]:
missing_rows = df.isnull().any(axis=1).sum()
missing_rows

16

In [378]:
df.dropna(inplace=True)

In [379]:
df.shape

(5198, 17)

In [380]:
missing_rows = df.isnull().any(axis=1).sum()
missing_rows

0

<br>

## `4. Duplicates`

In [381]:
print(df.duplicated().sum())

43

In [382]:
df.drop_duplicates(inplace = True, keep="first")

In [383]:
df.shape

(5155, 17)

<br>

## `5. Outlires Detection & Removal`

In [384]:
df.describe()

,ID,User Rating Count,Price,Age Rating,Size,Average User Rating
count,5.155000e+03,5.155000e+03,5155.000000,5155.000000,5.155000e+03,5155.000000
mean,8.681007e+08,3.689626e+03,0.604425,1.639767,1.381700e+08,4.035403
std,2.941689e+08,5.005629e+04,2.563789,0.884046,2.537722e+08,0.749439
min,2.849214e+08,5.000000e+00,0.000000,1.000000,2.158400e+05,1.000000
25%,5.953934e+08,1.300000e+01,0.000000,1.000000,2.750362e+07,3.500000
50%,9.193940e+08,4.900000e+01,0.000000,1.000000,6.706074e+07,4.000000
75%,1.115636e+09,3.320000e+02,0.000000,2.000000,1.588076e+08,4.500000
max,1.341837e+09,3.032734e+06,139.990000,4.000000,4.005591e+09,5.000000

In [385]:
# calculate the interquartile range (IQR)
col = 'Price'
q1 = df[col].quantile(0.25)
q3 = df[col].quantile(0.75)
iqr = q3 - q1

# identify the outliers
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]

# print the outliers
print("Outliers in User Rating Count column:")
print(outliers[col].head())

Outliers in User Rating Count column:
3    1.99
4    3.99
5    0.99
7    9.99
8    0.99
Name: Price, dtype: float64

In [ ]:
def outliers(dataset,col):
  Q1 = dataset[col].quantile(0.25)
  Q3 = dataset[col].quantile(0.75)
  IQR = Q3-Q1
  lower_bound = Q1-1.5*IQR
  upper_bound = Q3+1.5*IQR

  for i in range(len(dataset)):
      if dataset[col].iloc[i] > upper_bound:
          dataset[col].iloc[i] = upper_bound
      if dataset[col].iloc[i] < lower_bound:
          dataset[col].iloc[i] = lower_bound
outliers(df,"Size")


> <br> 
> 
> **In-app Purchases**

In [372]:
#to get avarage of in_purches columns 
def avarage_Purchases(data,col):
  data[col]=data[col].fillna("0")
  data[col]=data[col].astype(str)
  data[col]=data[col].str.split(",")
  data[col]=[np.float64(x) for x in data[col]]
  from statistics import mean
  for i in range(df.shape[0]):
    data[col][i]=mean(data[col][i])

In [ ]:
avarage_Purchases(df,"In-app Purchases")

In [374]:
df["In-app Purchases"]

0           19.24
1             0.0
2             0.0
3             0.0
4             0.0
          ...
5209     3.847143
5210        7.615
5211          0.0
5212        12.19
5213    12.704286
Name: In-app Purchases, Length: 5214, dtype: object

In [387]:
df= pd.get_dummies(df, columns = ['Languages'])
df=pd.get_dummies(df, columns = ['Genres'])

In [388]:
df

,URL,ID,Name,Icon URL,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,...,"Genres_Utilities, Games, Strategy, Simulation","Genres_Utilities, Games, Strategy, Trivia","Genres_Utilities, Role Playing, Games, Strategy","Genres_Utilities, Role Playing, Strategy, Games","Genres_Utilities, Strategy, Board, Games","Genres_Utilities, Strategy, Card, Games","Genres_Utilities, Strategy, Family, Games","Genres_Utilities, Strategy, Games, Adventure","Genres_Utilities, Strategy, Games, Board","Genres_Utilities, Strategy, Simulation, Games"
0,https://apps.apple.com/us/app/heir-of-light/id...,1264483706,HEIR OF LIGHT,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,982,0.00,19.24,"A Dark Fantasy, Collectible RPG\n\nDarkness ha...",GAMEVIL Inc.,3,...,0,0,0,0,0,0,0,0,0,0
1,https://apps.apple.com/us/app/endgame-eurasia/...,607705356,Endgame:Eurasia,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,19,0.00,0.0,"""This interactive experience is an exploration...",Auroch Digital Ltd,3,...,0,0,0,0,0,0,0,0,0,0
2,https://apps.apple.com/us/app/free-solitaire/i...,627491527,Free Solitaire+,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,14,0.00,0.0,Same Solitaire game with classic Solitaire run...,Chen Zhong Yuan,1,...,0,0,0,0,0,0,0,0,0,0
3,https://apps.apple.com/us/app/draft-trainer/id...,430252596,Draft Trainer,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,88,1.99,0.0,** Discounted for a limited time **\n\nEver wo...,"GG Wizards, LLC",2,...,0,0,0,0,0,0,0,0,0,0
4,https://apps.apple.com/us/app/rogue-knight-inf...,1115082819,Rogue Knight: Infested Lands,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,13,3.99,0.0,Fight or sneak your way through hordes of mons...,Luis Regueira,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5209,https://apps.apple.com/us/app/plague-inc/id525...,525818839,Plague Inc.,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,205014,0.99,3.847143,"""Can you infect the world? Plague Inc. is a un...",Ndemic Creations,3,...,0,0,0,0,0,0,0,0,0,0
5210,https://apps.apple.com/us/app/jeans-club/id945...,945975522,"""Jean's Club""",https://is1-ssl.mzstatic.com/image/thumb/Purpl...,252,0.00,7.615,"""Jean start new business, managing club after ...","AFEEL, Inc.",1,...,0,0,0,0,0,0,0,0,0,0
5211,https://apps.apple.com/us/app/train-game-assis...,550919302,Train Game Assistant,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,12,0.00,0.0,"""Train Game Assistant supplements the board ga...",Stasis Software LLC,1,...,0,0,0,0,0,0,0,0,0,0
5212,https://apps.apple.com/us/app/independence-day...,1086647459,Independence Day Resurgence: Battle Heroes,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,578,0.00,12.19,"""Earth stands united!\n\nJoin the combat ranks...",ZEN Studios Ltd.,2,...,0,0,0,0,0,0,0,0,0,0
5213,https://apps.apple.com/us/app/order-up-food-tr...,542784161,Order Up!! Food Truck Wars,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,782,0.00,12.704286,With over 8 Million Downloads and a 4.5 Star R...,Supervillain Studios,1,...,0,0,0,0,0,0,0,0,0,0